*{
    padding: 0;
    margin: 0;
}

.navbar{
    position: relative;
    /* top: 10px; */
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0;
    background-color: #252734;
    /* justify-content: space-between; */
}

.nav-container{
    width: 1200px;
    display: flex;
   margin-left: auto ;
   margin-right: auto;
}

.navigation{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    /* margin: auto; */
    display: flex;
    /* width: 60%; */
    gap: 24px;

}

.logo{
    
   left: 0;
    font-weight: bold;
    color: white;
    font-size: 25px;
    margin:  auto 0;
}

.navigation li{
    padding: 14px;
    list-style: none;
}
.navigation li a{
    color: #858792;
    font-size: 18px;
    text-decoration: none;
    font-family: sans-serif;
}

.navigation li a:hover{
color: white;
}


.navigation .add{
    display: block;
    border-radius: 50px;
    padding: 10px 10px;
    background-color:aquamarine;
}

.menu-icon{
    margin-right: 50px;
   display: flex;
   flex-direction: column;
   background-color: transparent;
   gap: 4px;
   position:  absolute;
   right: 0;
}

.menu-icon div{
    height: 4px;
    background-color:white;
    width: 22px;
}

.x-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, .1);
    color: white;
}

.x-icon i{
color: white;
}

@media(min-width: 1000px){
    .nav-container{
        width: 900px;
        display: flex;
       margin-left: auto ;
       margin-right: auto;
    }
}


@media(min-width: 990px){
    
    .menu-icon{
        display: none;
    }
}

@media (max-width: 990px) {
    .navbar{
        background-color: #2a2c39;
    }

    .navigation{
        background: #2a2c39;
        z-index: 999999;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 400px;
        display: none;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding-top: 200px;
        transition: transform .3s ease-in-out;
    }
    .logo{
        padding: 0 50px;
    }
    .show{
        display: flex;
    }
}

.navbar.sticky {
    position: fixed;
    top: 0;
    background-color: #252734;
    z-index: 1000; /* Ensure it's above other content */
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for better visibility */
}
