@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

/* navbar */
.navbar {
  position: relative;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
  background-color: #252734;
}

.nav-container {
  width: 1200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  display: flex;
  gap: 24px;
}

.logo {
  left: 0;
  font-weight: bold;
  color: white;
  font-size: 25px;
  margin: auto 0;
}

.navigation li {
  padding: 14px;
  list-style: none;
}
.navigation li a {
  color: #858792;
  font-size: 18px;
  text-decoration: none;
  font-family: sans-serif;
}

.navigation li a:hover {
  color: white;
}

.navigation .add {
  display: block;
  border-radius: 50px;
  padding: 10px 10px;
  background-color: aquamarine;
}

.menu-icon {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  gap: 4px;
  position: absolute;
  right: 0;
}

.menu-icon div {
  cursor: pointer;
  height: 4px;
  background-color: white;
  width: 22px;
}

.x-icon {
  display: none;
}

@media (min-width: 1000px) {
  .nav-container {
    width: 900px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 990px) {
  .menu-icon {
    display: none;
  }
}

@media (max-width: 990px) {
  .navbar {
    background-color: #2a2c39;
  }

  .navigation {
    background: #2a2c39;
    z-index: 999999;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 400px;
    display: none;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 200px;
    transition: transform 0.3s ease-in-out;
  }

  .x-icon {
    cursor: pointer;
    position: absolute;
    top: 150px;
    left: 50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    transition: transform 0.3s ease-in-out;
  }

  .logo {
    padding: 0 50px;
  }
  .show {
    display: flex;
  }
}

.navbar.sticky {
  position: fixed;
  top: 0;
  background-color: #252734;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




/* hero */
.hero-section {
  display: flex;
  background-color: #252734;
  height: 910px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-info {
  padding-bottom: 200px;
}

.hero-info .hero-p {
  margin-top: 40px;
  font-family: "Cormorant Garamond", serif;
  color: #ffffff;
  font-size: 85px;
}

.hero-info h3 {
  margin-top: 40px;
  font-family: "Cormorant Garamond", serif;
  color: #ffffff;
  font-size: 50px;
}

.hero-info p {
  margin-top: 40px;
  color: #858792;
  font-size: 17px;
  font-family: sans-serif;
}

.hero-info button {
  margin-top: 40px;
  border-radius: 50px;
  background-color: #252734;
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  padding-left: 60px;
  padding-right: 60px;
  height: 85px;
  color: #ffffff;
  font-size: 15px;
  font-family: sans-serif;
  padding: 6px 60px;
  border: 1px solid #3b3d49;
  transition: all 0.5s ease;
}
.hero-info button:hover {
  background-color: #3b3d49;
}

.hero-image {
  margin-bottom: 150px;
}

.hero-image img {
  height: 500px;
  width: 100%;
}

@media screen and (max-width: 990px) {
  .hero-section {
    display: flex;
    background-color: #252734;
    height: 910px;
    flex-direction: column;
    justify-content: left;
    align-items: normal;
  }

  .hero-section {
    flex-direction: column-reverse;
    padding-top: 50px;
  }

  .hero-info {
    text-align: center;
    padding-bottom: 100px;
    padding-left: 100px;
  }

  .hero-info .hero-p {
    margin-top: 40px;
    font-family: "Cormorant Garamond", serif;
    color: #ffffff;
    font-size: 40px;
  }

  .hero-info h3 {
    margin-top: 40px;
    font-family: "Cormorant Garamond", serif;
    color: #ffffff;
    font-size: 50px;
  }

  .hero-info p {
    margin-top: 40px;
    color: #858792;
    font-size: 15px;
    font-family: sans-serif;
  }

  .hero-info button {
    margin-top: 40px;
    border-radius: 50px;
    background-color: #252734;
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    padding-left: 60px;
    padding-right: 60px;
    height: 60px;
    color: #ffffff;
    font-size: 15px;
    font-family: sans-serif;
    padding: 6px 30px;
    border: 1px solid #3b3d49;
    transition: all 0.5s ease;
  }

  .hero-image {
    margin: auto;
    width: 500px;
  }

  .hero-image img {
    height: 500px;
    width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column-reverse;
    padding-top: 0;
  }

  .hero-info {
    text-align: center;
    padding-bottom: 100px;
    padding-left: 10px;
  }

  .hero-info .hero-p {
    margin-top: 40px;
    font-family: "Cormorant Garamond", serif;
    color: #ffffff;
    font-size: 40px;
  }

  .hero-info h3 {
    margin-top: 20px;
    font-family: "Cormorant Garamond", serif;
    color: #ffffff;
    font-size: 30px;
  }

  .hero-info p {
    margin-top: 20px;
    color: #858792;
    font-size: 15px;
    font-family: sans-serif;
  }

  .hero-info button {
    margin-top: 40px;
    border-radius: 50px;
    background-color: #252734;
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    padding-left: 60px;
    padding-right: 60px;
    height: 60px;
    color: #ffffff;
    font-size: 15px;
    font-family: sans-serif;
    padding: 6px 30px;
    border: 1px solid #3b3d49;
    transition: all 0.5s ease;
  }

  .hero-image {
    margin: auto;
    width: 450px;
  }

  .hero-image img {
    width: 100%;
  }
}



/* about */
.about-container {
  padding: 30px;
  background: #2a2c39;
  padding-top: 5%;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  gap: 100px;
}

.image-section {
  width: 450px;
  height: 500px;
}

.image-section img {
  width: 100%;
  height: 100%;
}

.text-section {
  width: 700px;
  padding: 20px;
}

.text-section h1 {
  color: #ffffff;
  margin-bottom: 0 0 10px;
  font-size: 40px;
  font-family: sans-serif;
}

.text-section h3 {
  padding-top: 10px;
  color: #858792;
  margin: 0 0 8px;
  font-size: 20px;
  font-family: sans-serif;
}

.text-section p {
  color: #858792;
  line-height: 1.6;
  margin: 25px 0 0;
  padding: 16px 0;
  font-family: sans-serif;
  text-transform: capitalize;
}

.text-section button {
  border-radius: 5px;
  background-color: #4caf50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.text-section button {
  margin-top: 40px;
  border-radius: 50px;
  background-color: #252734;
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  padding-left: 60px;
  padding-right: 60px;
  height: 60px;
  color: #ffffff;
  font-size: 15px;
  font-family: sans-serif;
  padding: 0 40px;
  border: 1px solid #3b3d49;
  transition: all 0.5s ease;
}
.text-section button:hover {
  background-color: #3b3d49;
}

@media (max-width: 1000px) {
  .about-container {
    text-align: center;
    flex-direction: column;
    gap: 20px;
  }

  .image-section {
    margin-top: 50px;
    width: 300px;
    height: 300px;
  }

  .text-section {
    width: 350px;
    padding: 20px;
  }

  .text-section,
  .image-section {
    flex: none;
  }

  .text-section h1 {
    color: #ffffff;
    margin-bottom: 0 0 10px;
    font-size: 30px;
    font-family: sans-serif;
  }

  .text-section h3 {
    color: #858792;
    margin: 0 0 8px;
    font-size: 15px;
    font-family: sans-serif;
  }

  .text-section p {
    color: #858792;
    line-height: 1.6;
    margin: 25px 0 0;
    padding: 16px;
    font-family: sans-serif;
  }
}





/* experience */
.experience-container {
  background-color: #252734;
  border: 1px solid gray;
}

.experience-container h2{
    color: white;
   text-align: center;
   padding-top: 20px;
}
  
.experience-div {
    padding: 30px;
    padding-top: 5%;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
  }

.experience-div {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  gap: 100px;
}

.date-info p {
  color: #858792;
  padding: 20px;
  font-size: 16px;
  font-family: sans-serif;
  text-align: left;
}

.experience-info {
  width: 700px;
}

.experience-info h3 {
  color: #ffffff;
  font-size: 35px;
  font-family: sans-serif;
  margin: 0 0 25px;
}

.experience-info title {
  color: #858792;
  font-size: 16px;
  font-family: sans-serif;
  margin: 0 0 25px;
}

.experience-info p {
  line-height: 25px;
  color: #858792;
  font-size: 16px;
  font-family: sans-serif;
  margin: 25px 0 0;
}

@media (max-width: 1000px) {
  .experience-div {
    text-align: center;
    flex-direction: column;
    padding: 30px 0;
    gap: 5px;
  }

  .experience-info {
    width: 100%;
  }

  .experience-info h3 {
    text-align: left;
    color: #ffffff;
    font-size: 35px;
    font-family: sans-serif;
    margin: 0 0 25px;
  }

  .experience-info title {
    text-align: left;
    color: #858792;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0 0 25px;
  }

  .experience-info p {
    text-align: left;
    color: #858792;
    font-size: 16px;
    font-family: sans-serif;
    margin: 25px 0 0;
  }
}





/* Services */
.service-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background: #2a2c39;
}

.service-container p {
  color: #858792;
  padding: 0 0 0 27px;
  font-size: 18px;
  font-family: Poppins, sans-serif;
}

.service-container h2 {
  color: #ffffff;
  margin: 25px 0 8px;
  font-size: 50px;
  font-family: Poppins, sans-serif;
}

.service-div {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.service-info {
  background: #252734;
  color: #858792;
  margin: 20px;
  padding: 40px;
  width: calc(50% - 10px);
}

.service-info img {
  max-width: 100px;
  height: auto;
  padding: 20px;
  padding-bottom: 40px;
}

.service-info h4 {
  font-size: 28px;
  color: #ffffff;
}

.service-info ul {
  padding-top: 20px;
  font-size: 28px;
  color: #ffffff;
}

.service-list {
  display: flex;
  margin: 20px 0;
}

.service-list i {
  font-size: 14px;
  color: #858792;
}
.service-info ul li {
  padding-left: 40px;
  list-style: none;
  font-size: 16px;
  color: #858792;
  font-family: sans-serif;
}

@media screen and (max-width: 1000px) {
  .service-container {
    padding: 75px 0;
    background: #2a2c39;
  }

  .service-container h2 {
    color: #ffffff;
    margin: 25px 0 8px;
    padding: 0 10px;
    font-size: 45px;
    font-family: Poppins, sans-serif;
  }
}

@media screen and (max-width: 800px) {
  .service-container {
    padding: 75px 0;
    background: #2a2c39;
  }
  .service-div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .service-info {
    background: #252734;
    color: #858792;
    margin: 20px;
    padding: 40px;
    width: 100%;
  }

  .service-container h2 {
    color: #ffffff;
    margin: 25px 0 8px;
    padding: 0 10px;
    font-size: 25px;
    font-family: Poppins, sans-serif;
  }
}






/* hobbies  */
.hobbie-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 50px;
  background: #282a37;
}

.hobbie-container h2 {
  text-align: center;
  color: #ffffff;
  margin: 25px 0 8px;
  font-size: 50px;
  font-family: Poppins, sans-serif;
}

.hobbie-div {
  display: flex;
  padding: 50px 100px;
}

.hobbie-div img {
  margin-right: 100px;
  width: 400px;
  height: 450px;
}

.hobbie-list {
  padding-top: 100px;
  margin: 0 100px auto 0;
  display: block;
  justify-content: center;
  align-items: center;
}

.hobbie-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0px 30px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}

.hobbie-list i {
  text-align: center;
}

.hobbie-list .info {
  font-family: sans-serif;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

.hobbie-list p {
  font-size: 20px;
  color: white;
}

@media (max-width: 1000px) {
  .hobbie-div {
    padding: 0 0;
    text-align: center;
    flex-direction: column;
    gap: 20px;
  }

  .hobbie-img-div {
    margin: auto;
    width: 80%;
  }

  .hobbie-div img {
    margin-right: 0;
    width: 100%;
  }

  .hobbie-list {
    padding-left: 50px;
    padding-top: 50px;
    margin: 0 0 0 0;
    display: block;
    justify-content: center;
    align-items: center;
  }
  .hobbie-list p {
    font-size: 17px;
    color: white;
  }
}





/* count  */
.count-section {
  background: #282a37;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.count-div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #858792;
  padding: 40px 0;
  width: calc(50% - 10px);
}

.counter-info {
  /* width: 100%; */
  /* background-color: aliceblue; */
}

.counter-info .number {
  color: #ffffff;
  font-size: 52px;
  margin: 0 12px;
  font-family: sans-serif;
}

.counter-info .title {
  color: #858792;
  margin: 0 12px;
  font-family: sans-serif;
}

.count-img {
  width: 70px;
  height: 70px;
  border: 1px solid #40424d;
  border-radius: 15px;
  display: flex;

  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .count-section {
    flex-direction: column;
  }
}






/* project */
.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background: #2a2c39;
}

.project-container p {
  text-align: center;
  color: #858792;
  padding: 0 0 0 27px;
  font-size: 18px;
  font-family: Poppins, sans-serif;
}

.project-container h2 {
  text-align: center;
  color: #ffffff;
  margin: 25px 0 8px;
  font-size: 50px;
  font-family: Poppins, sans-serif;
}

.project-section {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project-div {
  padding-bottom: 40px;
}

.project-div .project-image {
  height: 350px;
  width: 500px;
}

.project-div img {
  height: 100%;
  width: 100%;
}
.project-div-info {
  padding: 20px;
}

.project-div h3 {
  padding-bottom: 20px;
  font-size: 28px;
  color: #ffffff;
  font-family: sans-serif;
}

.project-container h3 a {
  text-decoration: none;
  color: #ffffff;
}

.project-container .project-div p {
  text-align: center;
  color: #858792;
  padding: 0 0 0 27px;
  font-size: 18px;
  font-family: Poppins, sans-serif;
}

@media screen and (max-width: 1000px) {
  .project-container {
    padding: 75px 0;
    background: #2a2c39;
  }

  .project-container h2 {
    color: #ffffff;
    margin: 25px 0 8px;
    padding: 0 10px;
    font-size: 45px;
    font-family: Poppins, sans-serif;
  }
}

@media screen and (max-width: 800px) {
  .project-container {
    padding: 75px 0;
    background: #2a2c39;
  }

  .project-container h2 {
    color: #ffffff;
    margin: 25px 0 8px;
    padding: 0 20px;
    font-size: 25px;
    font-family: Poppins, sans-serif;
  }

  .project-div .project-image {
    margin: auto;
    height: 250px;
    width: 250px;
  }

  .project-div img {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .project-section {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .project-div h3 {
    padding-bottom: 0;
    font-size: 17px;
    color: #ffffff;
    font-family: sans-serif;
  }

  .project-container .project-div p {
    text-align: center;
    color: #858792;
    padding: 0 0 0 27px;
    font-size: 15px;
    font-family: Poppins, sans-serif;
  }
}




/* Contact */
.contact-container {
  background: #2a2c39;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  padding-top: 100px;
}

.contact-types-header {
  margin-bottom: 20px;
}

.contact-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact {
  background-color: #252734;
  padding: 20px;
  width: calc(25% - 10px);
  box-sizing: border-box;
  margin-bottom: 20px;
}

.contact-types-header h2 {
  font-size: 25px;
  color: white;
  font-family: sans-serif;
}

.contact-types-header p {
  margin: 30px;
}

.contact-div {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-icon {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #858792;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.contact-icon {
  color: #ffffff;
}

.contact h4 {
  font-family: sans-serif;
  color: #ffffff;
  margin-bottom: 5px;
  padding-left: 15px;
}
.contact p {
  color: #ffffff;
  font-size: 17px;
}

@media (max-width: 1000px) {
  .contact-grid {
    display: block;
  }
  .contact-div {
    margin: auto;
  }
  .contact {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .contact {
    width: 100%;
  }
}

.map-container {
  background-color: #252734;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 50px;
}
.property-container {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: auto;
}
.map {
  flex: 1;
  width: 100%;
  height: 250px;
  background: url("path-to-your-map-image.jpg") no-repeat center center;
  background-size: cover;
}

.form-container {
  flex: 1;
  padding: 45px;
  background: #2a2c39;
}

.form-container h2 {
  font-size: 30px;
  text-align: left;
  color: white;
  padding-bottom: 20px;
}

.form-container p {
  font-size: 13px;
  text-align: left;
  color: white;
}
.form-field {
  width: 100%;
  padding: 10px 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.form-field:focus {
  outline: none;
}
.form-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #858792;
  color: white;
  cursor: pointer;
}
.form-button:hover {
  background: #2a2c39;
}


@media (max-width: 1000px) {
  .map-container {
    text-align: center;
    flex-direction: column;
  }
  .property-container {
    flex-direction: column;
  }
  .map {
    height: 200px;
  }
}



/* footer */
footer {
  background-color: #252734;
  padding-top: 100px;
}

.newsletter-section {
}

.newsletter-section p {
  text-align: center;
  font-size: 18px;
  color: #858792;
  font-family: sans-serif;
}

.newsletter-section h2 {
  font-weight: 500;
  text-align: center;
  font-size: 60px;
  color: #ffffff;
  font-family: serif;
  margin: 25px 0 5px;
}

.latter-form {
  color: #858792;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: serif;
  font-size: 16px;
  padding: 50px 0;
}

.latter-form input {
  font-size: 17px;
  margin: 0px 20px 0px 0px;
  padding: 20px 40px;
  border-radius: 32.5px;
  border: none;
  width: 350px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: 0 0;
  background-image: initial;
  background-position-x: 0px;
  background-position-y: 0px;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

.latter-form input:focus {
  outline: none;
  border: 1px solid white;
}

.latter-form button {
  font-size: 16px;
  margin: 0 20px 0 0;
  padding: 20px 40px;
  border-radius: 32.5px;
  border: 1px solid #2e303d;
  background-color: #2e303d;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.social-icon {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0px 30px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}
.icon a {
  color: white;
}

.icon:hover {
  background-color: white;
}

.icon:hover a {
  color: #252734;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.small-footer {
  text-align: center;
  color: #858792;
  padding: 40px 0;
}
.small-footer span {
  color: white;
}

@media screen and (max-width: 768px) {
  .newsletter-section h2 {
    font-weight: 500;
    text-align: center;
    font-size: 30px;
  }

  .latter-form {
    flex-direction: column;
    gap: 20px;
  }

  .latter-form input {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px;
    width: 300px;
  }

  .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
  }
}
