@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

.hero-section{
    display: flex;
    background-color: #252734;
    height: 910px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-info{
    padding-bottom: 200px;
}

.hero-info .hero-p{
    margin-top: 40px;
    font-family: "Cormorant Garamond", serif;
    color: #FFFFFF;
    font-size: 85px;
}

.hero-info h3{
    margin-top: 40px;
    font-family: "Cormorant Garamond", serif;
    color: #FFFFFF;
    font-size: 100px;
}

.hero-info p{
    margin-top: 40px;
    color: #858792;
    font-size: 17px;
    font-family: sans-serif;
}

.hero-info button{
    margin-top: 40px;
    border-radius: 50px;
    background-color: #252734;
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    padding-left: 60px;
    padding-right: 60px;
    height: 85px;
    color: #FFFFFF;
    font-size: 15px;
    font-family: sans-serif;
    padding: 6px 60px;
    border: 1px solid #3b3d49;
    transition: all .5s ease;
}
.hero-info button:hover{
    background-color: #3b3d49;
}

.hero-image{
    /* width: 400px; */
    /* margin-top: 100px; */
}

.hero-image img{
    height: 700px;
     width: 100%;
}




@media screen and (max-width: 990px) {
    .hero-section{
        display: flex;
        background-color: #252734;
        height: 910px;
        flex-direction: column;
        justify-content:left;
        align-items: normal;
    }

    
    .hero-section {
        flex-direction: column-reverse; 
        padding-top: 50px;
    }

    
    .hero-info{
        padding-bottom: 100px;
        padding-left: 100px;
    }
    
    .hero-info .hero-p{
        margin-top: 40px;
        font-family: "Cormorant Garamond", serif;
        color: #FFFFFF;
        font-size: 40px;
    }
    
    .hero-info h3{
        margin-top: 40px;
        font-family: "Cormorant Garamond", serif;
        color: #FFFFFF;
        font-size: 50px;
    }
    
    .hero-info p{
        margin-top: 40px;
        color: #858792;
        font-size: 15px;
        font-family: sans-serif;
    }

    .hero-info button{
        margin-top: 40px;
        border-radius: 50px;
        background-color: #252734;
        display: inline-block;
        align-items: center;
        justify-content: space-around;
        padding-left: 60px;
        padding-right: 60px;
        height: 60px;
        color: #FFFFFF;
        font-size: 15px;
        font-family: sans-serif;
        padding: 6px 30px;
        border: 1px solid #3b3d49;
        transition: all .5s ease;
    }
   
    .hero-image{
        margin: auto;
        width: 500px;
    }
    
    .hero-image img{
        height: 500px;
         width: 500px;
    }
   
}



@media screen and (max-width: 768px) {

    .hero-section {
        flex-direction: column-reverse; 
        padding-top: 0;
    }

    
    .hero-info{
        /* background-color: antiquewhite; */
        padding-bottom: 100px;
        padding-left: 10px;
    }
    
    .hero-info .hero-p{
        margin-top: 40px;
        font-family: "Cormorant Garamond", serif;
        color: #FFFFFF;
        font-size: 40px;
    }
    
    .hero-info h3{
        margin-top: 40px;
        font-family: "Cormorant Garamond", serif;
        color: #FFFFFF;
        font-size: 50px;
    }
    
    .hero-info p{
        margin-top: 40px;
        color: #858792;
        font-size: 15px;
        font-family: sans-serif;
    }

    .hero-info button{
        margin-top: 40px;
        border-radius: 50px;
        background-color: #252734;
        display: inline-block;
        align-items: center;
        justify-content: space-around;
        padding-left: 60px;
        padding-right: 60px;
        height: 60px;
        color: #FFFFFF;
        font-size: 15px;
        font-family: sans-serif;
        padding: 6px 30px;
        border: 1px solid #3b3d49;
        transition: all .5s ease;
    }



    .hero-image{
        width: 250px;
    }

    .hero-image img{
        height: 300px;
         width: 250px;
    }
}



/* Services */
.service-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background: #2a2c39
}

.service-container p{
    color: #858792;
    padding: 0 0 0 27px;
    font-size: 18px;
    font-family: Poppins, sans-serif;
}

.service-container h2{
    color: #FFFFFF;
    margin: 25px 0 8px;
    font-size: 50px;
    font-family: Poppins, sans-serif;
}

.service-div {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.service-info {
    background: #252734;
    color: #858792;
    margin: 20px;
    padding:  40px;
    width: calc(50% - 10px);
}

.service-info img {
    max-width: 100px;
    height: auto;
    padding: 20px;
    padding-bottom: 40px;
}

.service-info h4{
    font-size: 28px;
    color: #FFFFFF;
}

.service-info ul{
    font-size: 28px;
    color: #FFFFFF;
}

.service-info ul li{
    margin: 40px 0;
    padding-left: 40px;
    list-style: none;
    font-size: 16px;
    color: #858792;
    font-family: sans-serif;
}

@media screen and (max-width: 1000px) {
    .service-container{

        padding: 75px 0;
        background: #2a2c39
    }

    .service-container h2{
        color: #FFFFFF;
        margin:25px 0 8px;
        padding:0 10px ;
        font-size: 45px;
        font-family: Poppins, sans-serif;
    } 

}


@media screen and (max-width: 800px) {
    .service-container{
        padding: 75px 0;
        background: #2a2c39
    }
    .service-div {
        flex-wrap: wrap;
        justify-content: center;
    }

    .service-info {
        background: #252734;
        color: #858792;
        margin: 20px;
        padding:  40px;
        width: 100%;
    }

    .service-container h2{
        color: #FFFFFF;
        margin:25px 0 8px;
        padding:0 10px ;
        font-size: 25px;
        font-family: Poppins, sans-serif;
    }
}


/* count  */
.count-section{
    background: #282a37;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.count-div{
    display: flex;
    justify-content:center;
    align-items: center;
    color: #858792;
    /* margin: 20px; */
    padding:  40px 0;
    width: calc(50% - 10px);
}

.counter-info {
    /* width: 100%; */
 /* background-color: aliceblue; */
}


.counter-info .number{
    color: #FFFFFF;
    font-size: 52px;
    margin: 0 12px;
    font-family: sans-serif;
}

.counter-info .title{
    color: #858792;
    margin: 0 12px;
    font-family: sans-serif;
}

.count-img{
    width: 70px;
    height: 70px;
    border: 1px solid #40424d;
    border-radius: 15px;
    display: flex;

    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .count-section{
        flex-direction: column;
    }
}


/* project */
.project-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background: #2a2c39
}

.project-container p{
    text-align: center;
    color: #858792;
    padding: 0 0 0 27px;
    font-size: 18px;
    font-family: Poppins, sans-serif;
}

.project-container h2{
    text-align: center;
    color: #FFFFFF;
    margin: 25px 0 8px;
    font-size: 50px;
    font-family: Poppins, sans-serif;
}

.project-section{
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project-div{
  padding-bottom: 40px;
}

.project-div .project-image{
    height: 350px;  
    width: 500px;
}

.project-div img{
    height: 100%;  
    width: 100%;

}
.project-div-info{
    padding: 20px;
}

.project-div h3{
    padding-bottom: 20px;
    font-size: 28px;
    color: #FFFFFF;
    font-family: sans-serif;
}

.project-container .project-div p{
    text-align: center;
    color: #858792;
    padding: 0 0 0 27px;
    font-size: 18px;
    font-family: Poppins, sans-serif;
}



@media screen and (max-width: 1000px) {
    .project-container{

        padding: 75px 0;
        background: #2a2c39
    }

    .project-container  h2{
        color: #FFFFFF;
        margin:25px 0 8px;
        padding:0 10px ;
        font-size: 45px;
        font-family: Poppins, sans-serif;
    } 

}


@media screen and (max-width: 800px) {
    .project-container{
        padding: 75px 0;
        background: #2a2c39
    }

    .project-container h2{
        color: #FFFFFF;
        margin:25px 0 8px;
        padding:0 20px ;
        font-size: 25px;
        font-family: Poppins, sans-serif;
    }

    .project-div .project-image{
        margin: auto;
        height: 250px;  
        width: 250px;
    }

    .project-div img{

        height: 100%;  
        width: 100%;
    
    }
}

@media screen and (max-width: 768px) {
    .project-section{
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .project-div h3{
        padding-bottom: 0;
        font-size: 17px;
        color: #FFFFFF;
        font-family: sans-serif;
    }

    .project-container .project-div p{
        text-align: center;
        color: #858792;
        padding: 0 0 0 27px;
        font-size: 15px;
        font-family: Poppins, sans-serif;
    }
}